
$light: #ebebeb;


$font-color: #665f60;

$theme-color: #b8b3cf;
$big-title-font: 'Conv_Proxima Nova Bold', sans-serif ;
$header-font: 'Conv_Proxima Nova Semibold', sans-serif ;
$main-font: 'PT Sans', sans-serif;
